@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f5f5f7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #606060;
}

@layer components {
    .list {
        @apply font-semibold text-gray-100 hover:bg-white rounded-md hover:text-gray-700;
    }
}